main h2{
    display: flex;
    justify-content: center;
    font-family: arial;
    text-decoration: underline;
    color: navy;
    margin-top: 20px;
}

main p {
    display: flex;
    justify-content: center;
    padding: 50px;
    color: navy;
    font-family: arial;
}